# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
test.html
package-lock.json
dist/*.gz

# Folders
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
test
node_modules
.cache
dev