.gra-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-inline: $space;
  @include min-width($breakpoint-l) {
    max-width: 114rem;
  }
  &.full {
    @include min-width($breakpoint-l) {
      max-width: 100%;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include min-width($breakpoint-xs) {
    width: calc(100% + #{$space} * 2);
    flex-direction: row;
    margin-left: -$space;
  }

  &.row-mobile {
    width: calc(100% + #{$space} * 2);
    flex-direction: row;
    margin-left: -$space;
  }
}
