extends layout.pug

block append content
  section
    h4.example-title Breadcrumb
    nav.breadcrumb(aria-label="breadcrumbs")
      ul.breadcrumb-list
        li.breadcrumb-item
          a(href="#") Home
        li.breadcrumb-item
          a(href="#", disabled="", tabindex="-1") Page 1
        li.breadcrumb-item
          a(href="#") Page 1-1
        li.breadcrumb-item
          a.current(aria-current="page") Page 1-1-2
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back