extends layout.pug

block append content
  section
    h4.example-title Colors
    .colors-wrapper
      .box.box-dark-1
      .box.box-dark-2
      .box.box-dark-3
    .colors-wrapper
      .box.box-1
      .box.box-2
      .box.box-3
      .box.box-4
      .box.box-5
      .box.box-6
      .box.box-7
    .colors-wrapper
      .box.box-summer-darker
      .box.box-summer-dark
      .box.box-summer
      .box.box-summer-light
      .box.box-summer-lighter
    .colors-wrapper
      .box.box-shamrock-darker
      .box.box-shamrock-dark
      .box.box-shamrock
      .box.box-shamrock-light
      .box.box-shamrock-lighter
    .colors-wrapper
      .box.box-tulip-darker
      .box.box-tulip-dark
      .box.box-tulip
      .box.box-tulip-light
      .box.box-tulip-lighter
    .colors-wrapper
      .box.box-flame-darker
      .box.box-flame-dark
      .box.box-flame
      .box.box-flame-light
      .box.box-flame-lighter
  .back-to-home
      a.btn.btn-outline(href='/index.pug') << Back