extends layout.pug

block append content
  section
    h4.example-title Form Elements
    fieldset.example-form
      legend
        h5.heading Raven Form Example
      .form-group
        label(for='test-input-text')
          | Name
        input#test-input-text(type='text', placeholder='name')
      .form-group
        label(for='test-input-email')
          | Email
        input#test-input-email(type='email', placeholder='email')
      .form-group
        label
          | Disabled
        input(type='text', placeholder='test', disabled='')
      .form-actions
        button.btn Send
        button.btn.btn-clear Cancel
  section
    h4.example-title Search Input
    span.search-input
      input#test-input-text(type='search', name='', placeholder='Search...')
  section
    h4.example-title Checkbox
    .custom-form-control.checkbox
      input#custom-checkbox.custom-form-input(type='checkbox', name='')
      label.custom-form-label(for='custom-checkbox')
        | Checkbox
    .custom-form-control.checkbox.blue
      input#custom-checkbox-blue.custom-form-input(type='checkbox', name='')
      label.custom-form-label(for='custom-checkbox-blue')
        | Checkbox Blue
    .custom-form-control.checkbox.green
      input#custom-checkbox-green.custom-form-input(type='checkbox', name='')
      label.custom-form-label(for='custom-checkbox-green')
        | Checkbox Green
    .custom-form-control.checkbox.yellow
      input#custom-checkbox-yellow.custom-form-input(type='checkbox', name='')
      label.custom-form-label(for='custom-checkbox-yellow')
        | Checkbox Yellow
    .custom-form-control.checkbox.red
      input#custom-checkbox-red.custom-form-input(type='checkbox', name='')
      label.custom-form-label(for='custom-checkbox-red')
        | Checkbox Red
    .custom-form-control.checkbox
      input#custom-checkbox-2.custom-form-input(type='checkbox', name='', disabled='', checked='')
      label.custom-form-label(for='custom-checkbox-2')
        | Checkbox Disabled
  section
    h4.example-title Radio
    .radio-group(role='radiogroup')
      .custom-form-control.radio
        input#custom-radio.custom-form-input(type='radio', name='radio')
        label.custom-form-label(for='custom-radio')
          | Radio - 1
      .custom-form-control.radio
        input#custom-radio-2.custom-form-input(type='radio', name='radio')
        label.custom-form-label(for='custom-radio-2')
          | Radio - 2
      .custom-form-control.radio
        input#custom-radio-3.custom-form-input(type='radio', name='radio', disabled='')
        label.custom-form-label(for='custom-radio-3')
          | Radio Disabled
  section
    h4.example-title Switch
    .custom-form-control.switch
      input#switch.custom-form-input(type='checkbox')
      label.custom-form-label(for='switch') Toggle
    .custom-form-control.switch.blue
      input#switch-2.custom-form-input(type='checkbox')
      label.custom-form-label(for='switch-2') Toggle Blue
    .custom-form-control.switch.green
      input#switch-3.custom-form-input(type='checkbox')
      label.custom-form-label(for='switch-3') Toggle Green
    .custom-form-control.switch.yellow
      input#switch-4.custom-form-input(type='checkbox')
      label.custom-form-label(for='switch-4') Toggle Yellow
    .custom-form-control.switch.red
      input#switch-5.custom-form-input(type='checkbox')
      label.custom-form-label(for='switch-5') Toggle Red
    .custom-form-control.switch
      input#switch-disable.custom-form-input(type='checkbox', disabled='', checked='')
      label.custom-form-label(for='switch-disable') Toggle Disabled
  section
    h4.example-title Textarea
    .form-group
      label(for='textarea') Textarea Label
      textarea#textarea(name='', placeholder='Textarea content here...')
  section
    h4.example-title Select
    select
      option(value='first') First
      option(value='second') Second
      option(value='third', disabled='') Third
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back