extends layout.pug

block append content
  section.example-list
    h4.example-title Table of Content
    ul.block-list
      li.list-item
        a.list-link(href='typography.pug') Typography
      li.list-item
        a.list-link(href='buttons.pug') Buttons
      li.list-item
        a.list-link(href='form.pug') Form
      li.list-item
        a.list-link(href='nav.pug') Nav
      li.list-item
        a.list-link(href='navbar.pug') Navbar
      li.list-item
        a.list-link(href='breadcrumb.pug') Breadcrumb
      li.list-item
        a.list-link(href='colors.pug') Colors
      li.list-item
        a.list-link(href='card.pug') Card
      li.list-item
        a.list-link(href='alerts.pug') Alerts
      li.list-item
        a.list-link(href='list.pug') List
      li.list-item
        a.list-link(href='table.pug') Table
      li.list-item
        a.list-link(href='dropdown.pug') Dropdown
      li.list-item
        a.list-link(href='progress.pug') Progress
      li.list-item
        a.list-link(href='loading.pug') Loading
      li.list-item
        a.list-link(href='modal.pug') Modal
      li.list-item
        a.list-link(href='grid.pug') Grid