doctype html
html
  head
    include head
    script(src="assets/switcher.js")
  body
    header.navbar.examples-navbar
      .container
        .navbar-logo
          a.navbar-logo-link(href='')
            img.navbar-logo-img(src='assets/RavenCSS.png', alt='')
        .navbar-content
          .custom-form-control.switch
            input#switchDark.custom-form-input(type='checkbox')
            label.custom-form-label(for='switchDark') Dark Mode
    .wrapper.container
      block content