extends layout.pug

block append content
  section
    h4.example-title List
    ul.list
      li.list-item Item 1
      li.list-item Item 1
      li.list-item Item 1
  section
    h4.example-title Block List
    ul.block-list
      li.list-item Item 1
      li.list-item Item 1
      li.list-item Item 1
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back