extends layout.pug

block append content
  section
    h4.example-title Nav
    .example-navs
      nav
        ul.nav
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link.current(href='#', aria-current='page') Contact
          li.nav-item
            a.nav-link(disabled='', tabindex='-1') Disabled
      h5.example-title Nav Fill
      nav
        ul.nav.nav-fill
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link.current(href='#', aria-current='page') Contact
          li.nav-item
            a.nav-link(disabled='') Disabled
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back