extends layout.pug

block append content
  section
    h4.example-title Navbar
    header.navbar
      .container
        .navbar-logo
          a.navbar-logo-link(href='')
            img.navbar-logo-img(src='assets/RavenCSS.png', alt='')
        .navbar-content
          nav
            ul.nav
              li.nav-item
                a.nav-link(href='#') Home
              li.nav-item
                a.nav-link(href='#') About
              li.nav-item
                a.nav-link.current(href='#', aria-current='page') Contact
              li.nav-item
                a.nav-link(disabled='', tabindex='-1') Disabled
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back