extends layout.pug

block append content
  section
    h4.example-title Table
    table.table
      thead
        tr
          th Teams
          th Games
          th Points
          th Goals
          th Last 5 Game
      tbody
        tr
          td Liverpool
          td 29
          td 82
          td 66
          td W L W W W
        tr
          td Manchester City
          td 28
          td 57
          td 68
          td L W W L W
        tr
          td Leicester City
          td 29
          td 53
          td 58
          td W L L D D
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back