extends layout.pug

block append content
  section.example-headings
    h4.example-title Headings
    .headings
      div
        h1.heading Heading 1
        h2.heading Heading 2
        h3.heading Heading 3
        h4.heading Heading 4
        h5.heading Heading 5
        h6.heading Heading 6
      div
        h1.subheading Sub Heading 1
        h2.subheading Sub Heading 2
        h3.subheading Sub Heading 3
        h4.subheading Sub Heading 4
        h5.subheading Sub Heading 5
        h6.subheading Sub Heading 6
  section
    h4.example-title Paragraph
    .headings
      div
        p.p-large
          | Lorem ipsum
          |
          span.text-red red
          |  sit amet
          |
          code code
          |  consectetur adipisicing
          |
          span.text-muted muted
          |  Aliquam ut placeat
          |
          span.text-blue blue
          |  voluptate
          |
          span.text-secondary secondary
          |  corrupti repellendus nam adipisci
          |
          del deleted
          |  explicabo dolor
          |
          span.text-green green
          |  fugiat iste! Numquam
          |
          span.text-yellow yellow
          |  sed aut
          |
          em emphasized
          |  quod repellendus
          |
          strong strong
          |  doloremque in
          |
          u underlined
          |  recusandae libero
          |
          mark.text-marked marked
          |  eligendi?
          |
        p
          | Lorem ipsum
          |
          span.text-red red
          |  sit amet
          |
          code code
          |  consectetur adipisicing
          |
          span.text-muted muted
          |  Aliquam ut placeat
          |
          span.text-blue blue
          |  voluptate
          |
          span.text-secondary secondary
          |  corrupti repellendus nam adipisci
          |
          del deleted
          |  explicabo dolor
          |
          span.text-green green
          |  fugiat iste! Numquam
          |
          span.text-yellow yellow
          |  sed aut
          |
          em emphasized
          |  quod repellendus
          |
          strong strong
          |  doloremque in
          |
          u underlined
          |  recusandae libero
          |
          mark.text-marked marked
          |  eligendi?
          |
        p.p-small
          | Lorem ipsum
          |
          span.text-red red
          |  sit amet
          |
          code code
          |  consectetur adipisicing
          |
          span.text-muted muted
          |  Aliquam ut placeat
          |
          span.text-blue blue
          |  voluptate
          |
          span.text-secondary secondary
          |  corrupti repellendus nam adipisci
          |
          del deleted
          |  explicabo dolor
          |
          span.text-green green
          |  fugiat iste! Numquam
          |
          span.text-yellow yellow
          |  sed aut
          |
          em emphasized
          |  quod repellendus
          |
          strong strong
          |  doloremque in
          |
          u underlined
          |  recusandae libero
          |
          mark.text-marked marked
          |  eligendi?
          |
  section
    h4.example-title Texts
    .texts
      span Raven UI
      br
      span.text-secondary Raven UI
      br
      span.text-green Raven UI
      br
      span.text-yellow Raven UI
      br
      span.text-blue Raven UI
      br
      span.text-red Raven UI
      br
      span.text-muted Raven UI
      br
      mark.text-marked Raven UI
      br
      u Raven UI
      br
      em Raven UI
      br
      del Raven UI
      br
      strong Raven UI
      br
      code Raven UI
      br
  section
    h4.example-title Links
    .example-links
      a(href='#') This is a link
      br
      a(href='#', tabindex='-1', disabled='') This is a disabled link
      br
      a.current(href='#') This is current link
      br
      a.btn.btn-clear(href='#') Button Link
  .back-to-home
    a.btn.btn-outline(href='/index.pug') << Back