.alert {
  display: inline-block;
  min-width: 100%;
  height: calc(#{$el-height-s} - 1px);
  background-color: $color-alert;
  border-radius: $border-radius;
  color: $color-alert-font;
  font-size: 1.4rem;
  line-height: $el-height-s;
  padding-inline: $space-xl;
  @include themify($themes) {
    background-color: themed("colorAlert");
    color: themed("colorAlertFont");
  }
  @include min-width($bp-xs) {
    width: 42rem;
    min-width: 42rem;
  }
  &.alert-green {
    background-color: $color-green;
  }
  &.alert-yellow {
    background-color: $color-yellow;
  }
  &.alert-blue {
    background-color: $color-blue;
  }
  &.alert-red {
    background-color: $color-red;
  }
}
