.gra-breadcrumb {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding-block: $content-padding-block;
  padding-inline: $content-padding-inline;
  @include moder($modes) {
    border-color: mode("colorBorder");
  }
  &-list {
    display: flex;
  }
  &-item {
    position: relative;
    font-size: $font-size-s;

    &:not(:first-child) {
      padding-left: $space-l;
    }
    &:not(:first-child) > a::before {
      @include caret-icon(-45deg, 0, -50%, $color-main);
      display: inline-block;
      position: absolute;
      top: 50%;
      left: -4px;
      margin-top: -2px;
      content: "";
      @include moder($modes) {
        border-color: mode("colorBorder");
      }
    }
    &:not(:last-child) {
      margin-right: $space-l;
    }
  }
  &-item > .current {
    cursor: default;
  }
}
