.btn {
  &,
  &:link,
  &:visited {
    $color-button-font: $white;
    display: inline-block;
    height: $el-height;
    border: 0;
    background-color: $color-main;
    border-radius: $border-radius;
    color: $color-button-font;
    cursor: pointer;
    font-family: inherit;
    font-size: $el-font-size;
    font-weight: $font-bold;
    letter-spacing: 0.08rem;
    line-height: $el-height;
    padding-block: 0;
    padding-inline: $content-padding-inline;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    @include themify($themes) {
      background-color: themed("colorMain");
      color: themed("colorFontButton");
    }
    &:not([disabled]):hover {
      opacity: 0.8;
    }
    &:not([disabled]):focus {
      box-shadow: $el-box-shadow;
      outline: none;
    }
    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.2;
    }
    &.btn-outline {
      border: 1px solid $color-main;
      background-color: transparent;
      color: $color-main;
      @include themify($themes) {
        background-color: themed("transparentColor");
        color: themed("colorMain");
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &.btn-blue {
      background-color: $color-blue;
      &:focus {
        box-shadow: $el-box-shadow-blue;
      }

      &.btn-outline {
        border: 1px solid $color-blue;
        background-color: transparent;
        color: $color-blue;
      }
      &.btn-clear {
        background-color: transparent;
        color: $color-blue;
      }
    }
    &.btn-yellow {
      background-color: $color-yellow;
      &:focus {
        box-shadow: $el-box-shadow-yellow;
      }
      &.btn-outline {
        border: 1px solid $color-yellow;
        background-color: transparent;
        color: $color-yellow;
      }
      &.btn-clear {
        background-color: transparent;
        color: $color-yellow;
      }
    }
    &.btn-green {
      background-color: $color-green;
      &:focus {
        box-shadow: $el-box-shadow-green;
      }
      &.btn-outline {
        border: 1px solid $color-green;
        background-color: transparent;
        color: $color-green;
      }
      &.btn-clear {
        background-color: transparent;
        color: $color-green;
      }
    }
    &.btn-red {
      background-color: $color-red;
      &:focus {
        box-shadow: $el-box-shadow-red;
      }
      &.btn-outline {
        border: 1px solid $color-red;
        background-color: transparent;
        color: $color-red;
      }
      &.btn-clear {
        background-color: transparent;
        color: $color-red;
      }
    }
    &.btn-small {
      height: $el-height-s;
      font-size: $el-font-size-s;
      line-height: $el-height-s;
      padding-inline: $space-m;
    }
    &.btn-large {
      height: $el-height-l;
      font-size: $el-font-size-l;
      line-height: $el-height-l;
      padding-inline: $space-l;
    }

    &.btn-clear {
      background-color: transparent;
      color: $color-main;
      padding-inline: $space-m;
      @include themify($themes) {
        background-color: themed("transparentColor");
        color: themed("darkButtonBackground");
      }
    }
    &.btn-full-width {
      width: 100%;
      padding: 0;
    }
  }
}
