.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid $color-border;
  font-size: $font-size-s;
  padding-block: $space-l;
  @include moder($modes) {
    border-color: mode("colorBorder");
  }
}
