legend,
label {
  display: block;
  font-weight: $font-bold;
}
label {
  cursor: pointer;
}

legend {
  text-align: center;
}

fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  width: 100%;
  box-sizing: inherit;
  padding: $space-s $space-m;
  border: 1px solid $color-border;
  background-color: $transparent;
  border-radius: $border-radius;
  box-shadow: none;
  color: $color-font;
  font-family: "Catamaran", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: $font-size-s;
  line-height: normal;
  vertical-align: middle;
  @include themify($themes) {
    background-color: themed("colorCardBg");
    border-color: themed("colorBorder");
    color: themed("colorFont");
  }
  &:focus,
  &:hover {
    border-color: $color-border-dark;
    outline: 0;
    @include themify($themes) {
      border-color: themed("colorBorderLight");
    }
  }
  &::placeholder {
    color: $color-input-placeholder;
    @include themify($themes) {
      border-color: themed("colorInputPlaceholder");
    }
  }
  &:disabled {
    background-color: $color-input-disabled;
    cursor: not-allowed;
    @include themify($themes) {
      background-color: themed("colorCardBg");
    }
    &:hover {
      border: 1px solid $color-border;
    }
  }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  height: 4.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  height: 4.1rem;
  cursor: pointer;
}

.search-input {
  position: relative;
  input {
    padding-left: $space-xl + $space-m;
    -webkit-appearance: searchfield;
    -moz-appearance: searchfield;
    appearance: searchfield;
  }
  &::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: $space-m;
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -8px;
    padding-left: $space-m;
    background-image: url($search-icon);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
  }
}

.form-group {
  margin-bottom: $space-m;
}

.custom-form-control {
  display: block;
  position: relative;
  min-height: $space-l;
  margin-bottom: $space;
  padding-left: 2.4rem;
  .custom-form-input {
    &:disabled ~ .custom-form-label,
    &:disabled:checked ~ .custom-form-label {
      color: $color-mute;
      cursor: not-allowed;
      @include themify($themes) {
        color: themed("colorMute");
      }
      &::before {
        background: $color-mute;
        border-color: $color-mute;
        @include themify($themes) {
          background-color: themed("colorMute");
          border-color: themed("colorMute");
        }
      }
    }
  }

  &.blue {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-blue;
          @include themify($themes) {
            background-color: $color-blue;
          }
        }
      }
      &:disabled:checked ~ .custom-form-label {
        &::before {
          opacity: 0.5;
        }
      }
    }
  }
  &.green {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-green;
          @include themify($themes) {
            background-color: $color-green;
          }
        }
      }
    }
  }
  &.yellow {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-yellow;
          @include themify($themes) {
            background-color: $color-yellow;
          }
        }
      }
    }
  }
  &.red {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-red;
          @include themify($themes) {
            background-color: $color-red;
          }
        }
      }
    }
  }
}

.custom-form {
  &-input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  &-label {
    display: inline-block;
    font-weight: $font-normal;
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
    }
    &::before {
      top: 3px;
      left: 0;
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid $color-border-dark;
      border-radius: 1px;
      pointer-events: all;
      transition: $transition-default;
      user-select: none;
      @include themify($themes) {
        background-color: themed("colorCardBg");
        border-color: themed("colorBorder");
      }
    }
    &::after {
      opacity: 0;
    }
  }
}
