label {
  cursor: pointer;
}

legend,
label {
  display: block;
  font-weight: $font-bold;
}

legend {
  text-align: center;
}

fieldset {
  border: none;
}

.form-group {
  margin-bottom: $space-m;
}

.custom-form-control {
  display: block;
  position: relative;
  min-height: $space-l;
  margin-bottom: $space;
  padding-left: 2.4rem;
  .custom-form-input {
    &:disabled ~ .custom-form-label,
    &:disabled:checked ~ .custom-form-label {
      color: $color-mute;
      cursor: not-allowed;
      @include themify($themes) {
        color: themed("colorMute");
      }
      &::before {
        background: $color-mute;
        border-color: $color-mute;
        @include themify($themes) {
          background-color: themed("colorMute");
          border-color: themed("colorMute");
        }
      }
    }
  }

  &.blue {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-blue;
          @include themify($themes) {
            background-color: $color-blue;
          }
        }
      }
      &:disabled:checked ~ .custom-form-label {
        &::before {
          opacity: 0.5;
        }
      }
    }
  }
  &.green {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-green;
          @include themify($themes) {
            background-color: $color-green;
          }
        }
      }
    }
  }
  &.yellow {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-yellow;
          @include themify($themes) {
            background-color: $color-yellow;
          }
        }
      }
    }
  }
  &.red {
    .custom-form-input {
      &:checked ~ .custom-form-label {
        &::before {
          background: $color-red;
          @include themify($themes) {
            background-color: $color-red;
          }
        }
      }
    }
  }
}

.custom-form {
  &-input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  &-label {
    display: inline-block;
    font-weight: $font-normal;
    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
    }
    &::before {
      top: 3px;
      left: 0;
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid $color-border-dark;
      border-radius: 1px;
      pointer-events: all;
      transition: $transition-default;
      user-select: none;
      @include themify($themes) {
        background-color: themed("colorCardBg");
        border-color: themed("colorBorder");
      }
    }
    &::after {
      opacity: 0;
    }
  }
}
