.list {
  padding-block: $content-padding-block;
  padding-inline: $content-padding-inline;
  > :first-child {
    padding-top: 0;
  }
  > :last-child {
    padding-bottom: 0;
  }
  &-item {
    display: flex;
    width: 100%;
    line-height: $line-height-s;
    padding-block: $space;
    word-break: break-word;
    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
      @include themify($themes) {
        border-color: themed("colorBorder");
      }
    }
  }
}

.block-list {
  height: auto;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding-block: $content-padding-block;
  padding-inline: $content-padding-inline;
  @include themify($themes) {
    border-color: themed("colorBorder");
  }
  > :first-child {
    padding-top: 0;
  }
  > :last-child {
    padding-bottom: 0;
  }
}
