.modal {
  position: absolute;
  z-index: 199;
  top: 50%;
  left: 50%;
  width: 52rem;
  max-width: 52rem;
  background: $color-background;
  border-radius: $border-radius;
  transform: translate(-50%, -50%);
  transition: $transition-secondary;
  @include moder($modes) {
    background-color: mode("colorCardBg");
  }
  @include min-width($breakpoint-l) {
    width: 72rem;
    max-width: 72rem;
  }
  &-overlay {
    position: absolute;
    z-index: 191;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $color-main, $alpha: 0.8);
    cursor: default;
    @include moder($modes) {
      background-color: rgba($color: mode("colorMain"), $alpha: 0.5);
    }
    &:hover {
      background-color: rgba($color: $color-main, $alpha: 0.8);
      @include moder($modes) {
        background-color: rgba($color: mode("colorMain"), $alpha: 0.5);
      }
    }
  }
  &-wrapper {
    display: none;
    position: fixed;
    z-index: 190;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    &:target {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
  &-header {
    border-bottom: 1px solid $color-border;
    padding-block: $space;
    padding-inline: $content-padding-inline;
    @include moder($modes) {
      border-color: mode("colorBorder");
    }
  }
  &-body {
    padding-block: $space-l;
    padding-inline: $content-padding-inline;
  }
  &-footer {
    display: block;
    border-top: 1px solid $color-border;
    padding-block: $space;
    padding-inline: $content-padding-inline;
    @include moder($modes) {
      border-color: mode("colorBorder");
    }
  }
  &-actions {
    display: flex;
    justify-content: flex-end;
    .btn:not(:first-child) {
      margin-left: $space-xs;
    }
  }
}
