.gra-radio {
  .gra-custom-form-label {
    &::before {
      border-radius: $border-radius-full;
    }
    &::after {
      border-radius: $border-radius-full;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
  .gra-custom-form-input {
    &:checked ~ .gra-custom-form-label::before {
      border: 0;
      background-color: $color-main;
      @include moder($modes) {
        background-color: mode("colorMain");
      }
    }
    &:checked ~ .gra-custom-form-label::after {
      top: 8px;
      left: 5px;
      width: 0.6rem;
      height: 0.6rem;
      background-color: $color-background;
      opacity: 1;
      transform: scale(1);
      @include moder($modes) {
        background-color: mode("colorBackground");
      }
    }
  }
}
