$themes: (
  dark: (
    transparentColor: $transparent,
    colorMain: $color-main-dt,
    colorBackground: $color-background-dt,
    colorFont: $color-font-dt,
    colorSecondary: $color-secondary-dt,
    colorFontButton: $color-button-font-dt,
    colorFontRevert: $color-font-revert-dt,
    colorBorder: $color-border-dt,
    colorCode: $color-code-dt,
    colorMute: $color-mute-dt
  )
);
