strong,
b {
  font-weight: $font-bold;
}

pre,
code,
kbd,
samp {
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 0.875em;
}

code {
  padding: $space-xxs $space-xs;
  border: 1px solid $iron;
  background-color: $color-code;
  border-radius: $border-radius;
  margin-inline: 1px;
  @include themify($themes) {
    border: 1px solid themed("colorBorder");
    background-color: themed("colorCode");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $space-m;
  letter-spacing: -0.15rem;
}

.heading {
  font-weight: $font-bold;
}

.subheading {
  color: $color-font-secondary;
  font-weight: $font-normal;
  @include themify($themes) {
    color: themed("colorFontSecondary");
  }
}

h1 {
  font-size: $heading-1;
  line-height: 1.2;
}
h2 {
  font-size: $heading-2;
  line-height: 1.25;
}
h3 {
  font-size: $heading-3;
  line-height: 1.3;
}
h4 {
  font-size: $heading-4;
  line-height: 1.4;
}
h5 {
  font-size: $heading-5;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
h6 {
  font-size: $heading-6;
  letter-spacing: -0.05rem;
  line-height: 1.6;
}

a {
  color: $color-font-secondary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $color-link-hover;
    outline: none;
  }
  &.current {
    cursor: default;
    font-weight: $font-bold;
    &:hover,
    &:focus {
      color: $color-font-secondary;
    }
  }
  &.disabled,
  &[disabled] {
    color: $mischka;
    cursor: not-allowed;
  }
}

p {
  margin-bottom: $space-m;
  font-size: $p-size;
}
.p-small {
  margin-bottom: $space-s;
  font-size: $p-s-size;
}
.p-large {
  margin-bottom: $space-l;
  font-size: $p-l-size;
}

.text {
  &-secondary {
    color: $color-font-secondary;
    @include themify($themes) {
      color: themed("colorFontSecondary");
    }
  }
  &-yellow {
    color: $color-yellow;
    &-light {
      color: $color-yellow-light;
    }
    &-lighter {
      color: $color-yellow-lighter;
    }
    &-dark {
      color: $color-yellow-dark;
    }
    &-darker {
      color: $color-yellow-darker;
    }
  }
  &-red {
    color: $color-red;
    &-light {
      color: $color-red-light;
    }
    &-lighter {
      color: $color-red-lighter;
    }
    &-dark {
      color: $color-red-dark;
    }
    &-darker {
      color: $color-red-darker;
    }
  }
  &-green {
    color: $color-green;
    &-light {
      color: $color-green-light;
    }
    &-lighter {
      color: $color-green-lighter;
    }
    &-dark {
      color: $color-green-dark;
    }
    &-darker {
      color: $color-green-darker;
    }
  }
  &-blue {
    color: $color-blue;
    &-light {
      color: $color-blue-light;
    }
    &-lighter {
      color: $color-blue-lighter;
    }
    &-dark {
      color: $color-blue-dark;
    }
    &-darker {
      color: $color-blue-darker;
    }
  }
  &-muted {
    color: $color-mute;
    @include themify($themes) {
      color: themed("colorMute");
    }
  }
  &-marked {
    background-color: $color-mark;
    @include themify($themes) {
      color: themed("colorFont");
    }
  }
}
