.gra-blue-bg {
  background-color: $color-blue !important;
}
.gra-green-bg {
  background-color: $color-green !important;
}
.gra-yellow-bg {
  background-color: $color-yellow !important;
}
.gra-red-bg {
  background-color: $color-red !important;
}
.gra-blue-color {
  color: $color-blue !important;
}
.gra-green-color {
  color: $color-green !important;
}
.gra-yellow-color {
  color: $color-yellow !important;
}
.gra-red-color {
  color: $color-red !important;
}

.gra-center-text {
  text-align: center !important;
}
.gra-right-text {
  text-align: right !important;
}
.gra-left-text {
  text-align: left !important;
}
.gra-bold-text {
  font-weight: $font-bold !important;
}
.gra-normal-text {
  font-weight: $font-normal !important;
}
.gra-thin-text {
  font-weight: $font-thin !important;
}
.gra-width-100 {
  width: 100% !important;
}
.gra-height-100 {
  height: 100% !important;
}
.gra-img-responsive {
  width: 100% !important;
  height: auto !important;
}

.gra-none {
  display: none !important;
}
.gra-block {
  display: block !important;
}
.gra-inline {
  display: inline !important;
}
.gra-inline-block {
  display: inline-block !important;
}
.gra-flex {
  display: flex !important;
}
.gra-flex-col {
  flex-direction: column !important;
}
.gra-flex-row {
  flex-direction: row !important;
}
.gra-flex-ai-c {
  align-items: center !important;
}
.gra-flex-ai-start {
  align-items: flex-start !important;
}
.gra-flex-ai-end {
  align-items: flex-end !important;
}
.gra-flex-ai-sb {
  align-items: space-between !important;
}
.gra-flex-jc-c {
  justify-content: center !important;
}
.gra-flex-jc-start {
  justify-content: flex-start !important;
}
.gra-flex-jc-end {
  justify-content: flex-end !important;
}
.gra-flex-jc-sb {
  justify-content: space-between !important;
}
.gra-bg-cover {
  background-size: cover !important;
}
.gra-bg-contain {
  background-size: contain !important;
}
.gra-bg-norepeat {
  background-repeat: no-repeat !important;
}
.gra-absolute {
  position: absolute !important;
}
.gra-relative {
  position: relative !important;
}

.gra-pd-inline-xxs {
  padding-inline: $space-xxs !important;
}
.gra-pd-inline-xs {
  padding-inline: $space-xs !important;
}
.gra-pd-inline-s {
  padding-inline: $space-s !important;
}
.gra-pd-inline-m {
  padding-inline: $space-m !important;
}
.gra-pd-inline-l {
  padding-inline: $space-l !important;
}
.gra-pd-inline-xl {
  padding-inline: $space-xl !important;
}
.gra-pd-inline-xxl {
  padding-inline: $space-xxl !important;
}

.gra-pd-block-xxs {
  padding-block: $space-xxs !important;
}
.gra-pd-block-xs {
  padding-block: $space-xs !important;
}
.gra-pd-block-s {
  padding-block: $space-s !important;
}
.gra-pd-block-m {
  padding-block: $space-m !important;
}
.gra-pd-block-l {
  padding-block: $space-l !important;
}
.gra-pd-block-xl {
  padding-block: $space-xl !important;
}
.gra-pd-block-xxl {
  padding-block: $space-xxl !important;
}

.gra-mg-inline-xxs {
  margin-inline: $space-xxs !important;
}
.gra-mg-inline-xs {
  margin-inline: $space-xs !important;
}
.gra-mg-inline-s {
  margin-inline: $space-s !important;
}
.gra-mg-inline-m {
  margin-inline: $space-m !important;
}
.gra-mg-inline-l {
  margin-inline: $space-l !important;
}
.gra-mg-inline-xl {
  margin-inline: $space-xl !important;
}
.gra-mg-inline-xxl {
  margin-inline: $space-xxl !important;
}

.gra-mg-block-xxs {
  margin-block: $space-xxs !important;
}
.gra-mg-block-xs {
  margin-block: $space-xs !important;
}
.gra-mg-block-s {
  margin-block: $space-s !important;
}
.gra-mg-block-m {
  margin-block: $space-m !important;
}
.gra-mg-block-l {
  margin-block: $space-l !important;
}
.gra-mg-block-xl {
  margin-block: $space-xl !important;
}
.gra-mg-block-xxl {
  margin-block: $space-xxl !important;
}

.gra-blackpearl {
  color: $blackpearl !important;
}
.gra-woodsmoke {
  color: $woodsmoke !important;
}
.gra-shark {
  color: $shark !important;
}
.gra-abbey {
  color: $abbey !important;
}
.gra-raven {
  color: $raven !important;
}
.gra-oslo {
  color: $oslo !important;
}
.gra-mischka {
  color: $mischka !important;
}
.gra-ghost {
  color: $ghost !important;
}
.gra-iron {
  color: $iron !important;
}
.gra-porcelain {
  color: $porcelain !important;
}
.gra-summer-lighter {
  color: $summer-lighter !important;
}
.gra-summer-light {
  color: $summer-light !important;
}
.gra-summer {
  color: $summer !important;
}
.gra-summer-dark {
  color: $summer-dark !important;
}
.gra-summer-darker {
  color: $summer-darker !important;
}
.gra-shamrock-lighter {
  color: $shamrock-lighter !important;
}
.gra-shamrock-light {
  color: $shamrock-light !important;
}
.gra-shamrock {
  color: $shamrock !important;
}
.gra-shamrock-dark {
  color: $shamrock-dark !important;
}
.gra-shamrock-darker {
  color: $shamrock-darker !important;
}
.gra-tulip-lighter {
  color: $tulip-lighter !important;
}
.gra-tulip-light {
  color: $tulip-light !important;
}
.gra-tulip {
  color: $tulip !important;
}
.gra-tulip-dark {
  color: $tulip-dark !important;
}
.gra-tulip-darker {
  color: $tulip-darker !important;
}
.gra-flame-lighter {
  color: $flame-lighter !important;
}
.gra-flame-light {
  color: $flame-light !important;
}
.gra-flame {
  color: $flame !important;
}
.gra-flame-dark {
  color: $flame-dark !important;
}
.gra-flame-darker {
  color: $flame-darker !important;
}

// bg colors

.gra-blackpearl-bg {
  background-color: $blackpearl !important;
}
.gra-woodsmoke-bg {
  background-color: $woodsmoke !important;
}
.gra-shark-bg {
  background-color: $shark !important;
}
.gra-abbey-bg {
  background-color: $abbey !important;
}
.gra-raven-bg {
  background-color: $raven !important;
}
.gra-oslo-bg {
  background-color: $oslo !important;
}
.gra-mischka-bg {
  background-color: $mischka !important;
}
.gra-ghost-bg {
  background-color: $ghost !important;
}
.gra-iron-bg {
  background-color: $iron !important;
}
.gra-porcelain-bg {
  background-color: $porcelain !important;
}
.gra-summer-lighter-bg {
  background-color: $summer-lighter !important;
}
.gra-summer-light-bg {
  background-color: $summer-light !important;
}
.gra-summer-bg {
  background-color: $summer !important;
}
.gra-summer-dark-bg {
  background-color: $summer-dark !important;
}
.gra-summer-darker-bg {
  background-color: $summer-darker !important;
}
.gra-shamrock-lighter-bg {
  background-color: $shamrock-lighter !important;
}
.gra-shamrock-light-bg {
  background-color: $shamrock-light !important;
}
.gra-shamrock-bg {
  background-color: $shamrock !important;
}
.gra-shamrock-dark-bg {
  background-color: $shamrock-dark !important;
}
.gra-shamrock-darker-bg {
  background-color: $shamrock-darker !important;
}
.gra-tulip-lighter-bg {
  background-color: $tulip-lighter !important;
}
.gra-tulip-light-bg {
  background-color: $tulip-light !important;
}
.gra-tulip-bg {
  background-color: $tulip !important;
}
.gra-tulip-dark-bg {
  background-color: $tulip-dark !important;
}
.gra-tulip-darker-bg {
  background-color: $tulip-darker !important;
}
.gra-flame-lighter-bg {
  background-color: $flame-lighter !important;
}
.gra-flame-light-bg {
  background-color: $flame-light !important;
}
.gra-flame-bg {
  background-color: $flame !important;
}
.gra-flame-dark-bg {
  background-color: $flame-dark !important;
}
.gra-flame-darker-bg {
  background-color: $flame-darker !important;
}
