.u-blue-bg {
  background-color: $color-blue;
}
.u-green-bg {
  background-color: $color-green;
}
.u-yellow-bg {
  background-color: $color-yellow;
}
.u-red-bg {
  background-color: $color-red;
}
.u-blue-color {
  color: $color-blue;
}
.u-green-color {
  color: $color-green;
}
.u-yellow-color {
  color: $color-yellow;
}
.u-red-color {
  color: $color-red;
}

.u-center-text {
  text-align: center;
}
.u-right-text {
  text-align: right;
}
.u-left-text {
  text-align: left;
}
.u-bold-text {
  font-weight: $font-bold;
}
.u-normal-text {
  font-weight: $font-normal;
}
.u-thin-text {
  font-weight: $font-thin;
}
.u-width-100 {
  width: 100%;
}
.u-height-100 {
  height: 100%;
}
.u-img-responsive {
  width: 100%;
  height: auto;
}

.u-none {
  display: none;
}
.u-block {
  display: block;
}
.u-inline {
  display: inline;
}
.u-inline-block {
  display: inline-block;
}
.u-flex {
  display: flex;
}
.u-flex-col {
  flex-direction: column;
}
.u-flex-row {
  flex-direction: row;
}
.u-flex-ai-c {
  align-items: center;
}
.u-flex-ai-start {
  align-items: flex-start;
}
.u-flex-ai-end {
  align-items: flex-end;
}
.u-flex-ai-sb {
  align-items: space-between;
}
.u-flex-jc-c {
  justify-content: center;
}
.u-flex-jc-start {
  justify-content: flex-start;
}
.u-flex-jc-end {
  justify-content: flex-end;
}
.u-flex-jc-sb {
  justify-content: space-between;
}
.u-bg-cover {
  background-size: cover;
}
.u-bg-contain {
  background-size: contain;
}
.u-bg-norepeat {
  background-repeat: no-repeat;
}
.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}

//color utilities

.blackpearl {
  color: $blackpearl;
}
.woodsmoke {
  color: $woodsmoke;
}
.shark {
  color: $shark;
}
.abbey {
  color: $abbey;
}
.raven {
  color: $raven;
}
.oslo {
  color: $oslo;
}
.mischka {
  color: $mischka;
}
.ghost {
  color: $ghost;
}
.iron {
  color: $iron;
}
.porcelain {
  color: $porcelain;
}
.summer-lighter {
  color: $summer-lighter;
}
.summer-light {
  color: $summer-light;
}
.summer {
  color: $summer;
}
.summer-dark {
  color: $summer-dark;
}
.summer-darker {
  color: $summer-darker;
}
.shamrock-lighter {
  color: $shamrock-lighter;
}
.shamrock-light {
  color: $shamrock-light;
}
.shamrock {
  color: $shamrock;
}
.shamrock-dark {
  color: $shamrock-dark;
}
.shamrock-darker {
  color: $shamrock-darker;
}
.tulip-lighter {
  color: $tulip-lighter;
}
.tulip-light {
  color: $tulip-light;
}
.tulip {
  color: $tulip;
}
.tulip-dark {
  color: $tulip-dark;
}
.tulip-darker {
  color: $tulip-darker;
}
.flame-lighter {
  color: $flame-lighter;
}
.flame-light {
  color: $flame-light;
}
.flame {
  color: $flame;
}
.flame-dark {
  color: $flame-dark;
}
.flame-darker {
  color: $flame-darker;
}

// bg colors

.blackpearl-bg {
  background-color: $blackpearl;
}
.woodsmoke-bg {
  background-color: $woodsmoke;
}
.shark-bg {
  background-color: $shark;
}
.abbey-bg {
  background-color: $abbey;
}
.raven-bg {
  background-color: $raven;
}
.oslo-bg {
  background-color: $oslo;
}
.mischka-bg {
  background-color: $mischka;
}
.ghost-bg {
  background-color: $ghost;
}
.iron-bg {
  background-color: $iron;
}
.porcelain-bg {
  background-color: $porcelain;
}
.summer-lighter-bg {
  background-color: $summer-lighter;
}
.summer-light-bg {
  background-color: $summer-light;
}
.summer-bg {
  background-color: $summer;
}
.summer-dark-bg {
  background-color: $summer-dark;
}
.summer-darker-bg {
  background-color: $summer-darker;
}
.shamrock-lighter-bg {
  background-color: $shamrock-lighter;
}
.shamrock-light-bg {
  background-color: $shamrock-light;
}
.shamrock-bg {
  background-color: $shamrock;
}
.shamrock-dark-bg {
  background-color: $shamrock-dark;
}
.shamrock-darker-bg {
  background-color: $shamrock-darker;
}
.tulip-lighter-bg {
  background-color: $tulip-lighter;
}
.tulip-light-bg {
  background-color: $tulip-light;
}
.tulip-bg {
  background-color: $tulip;
}
.tulip-dark-bg {
  background-color: $tulip-dark;
}
.tulip-darker-bg {
  background-color: $tulip-darker;
}
.flame-lighter-bg {
  background-color: $flame-lighter;
}
.flame-light-bg {
  background-color: $flame-light;
}
.flame-bg {
  background-color: $flame;
}
.flame-dark-bg {
  background-color: $flame-dark;
}
.flame-darker-bg {
  background-color: $flame-darker;
}
