.u-blue-bg {
  background-color: $color-blue !important;
}
.u-green-bg {
  background-color: $color-green !important;
}
.u-yellow-bg {
  background-color: $color-yellow !important;
}
.u-red-bg {
  background-color: $color-red !important;
}
.u-blue-color {
  color: $color-blue !important;
}
.u-green-color {
  color: $color-green !important;
}
.u-yellow-color {
  color: $color-yellow !important;
}
.u-red-color {
  color: $color-red !important;
}

.u-center-text {
  text-align: center !important;
}
.u-right-text {
  text-align: right !important;
}
.u-left-text {
  text-align: left !important;
}
.u-bold-text {
  font-weight: $font-bold !important;
}
.u-normal-text {
  font-weight: $font-normal !important;
}
.u-thin-text {
  font-weight: $font-thin !important;
}
.u-width-100 {
  width: 100% !important;
}
.u-height-100 {
  height: 100% !important;
}
.u-img-responsive {
  width: 100% !important;
  height: auto !important;
}

.u-none {
  display: none !important;
}
.u-block {
  display: block !important;
}
.u-inline {
  display: inline !important;
}
.u-inline-block {
  display: inline-block !important;
}
.u-flex {
  display: flex !important;
}
.u-flex-col {
  flex-direction: column !important;
}
.u-flex-row {
  flex-direction: row !important;
}
.u-flex-ai-c {
  align-items: center !important;
}
.u-flex-ai-start {
  align-items: flex-start !important;
}
.u-flex-ai-end {
  align-items: flex-end !important;
}
.u-flex-ai-sb {
  align-items: space-between !important;
}
.u-flex-jc-c {
  justify-content: center !important;
}
.u-flex-jc-start {
  justify-content: flex-start !important;
}
.u-flex-jc-end {
  justify-content: flex-end !important;
}
.u-flex-jc-sb {
  justify-content: space-between !important;
}
.u-bg-cover {
  background-size: cover !important;
}
.u-bg-contain {
  background-size: contain !important;
}
.u-bg-norepeat {
  background-repeat: no-repeat !important;
}
.u-absolute {
  position: absolute !important;
}
.u-relative {
  position: relative !important;
}

.u-pd-inline-xxs {
  padding-inline: $space-xxs !important;
}
.u-pd-inline-xs {
  padding-inline: $space-xs !important;
}
.u-pd-inline-s {
  padding-inline: $space-s !important;
}
.u-pd-inline-m {
  padding-inline: $space-m !important;
}
.u-pd-inline-l {
  padding-inline: $space-l !important;
}
.u-pd-inline-xl {
  padding-inline: $space-xl !important;
}
.u-pd-inline-xxl {
  padding-inline: $space-xxl !important;
}

.u-pd-block-xxs {
  padding-block: $space-xxs !important;
}
.u-pd-block-xs {
  padding-block: $space-xs !important;
}
.u-pd-block-s {
  padding-block: $space-s !important;
}
.u-pd-block-m {
  padding-block: $space-m !important;
}
.u-pd-block-l {
  padding-block: $space-l !important;
}
.u-pd-block-xl {
  padding-block: $space-xl !important;
}
.u-pd-block-xxl {
  padding-block: $space-xxl !important;
}

.u-mg-inline-xxs {
  margin-inline: $space-xxs !important;
}
.u-mg-inline-xs {
  margin-inline: $space-xs !important;
}
.u-mg-inline-s {
  margin-inline: $space-s !important;
}
.u-mg-inline-m {
  margin-inline: $space-m !important;
}
.u-mg-inline-l {
  margin-inline: $space-l !important;
}
.u-mg-inline-xl {
  margin-inline: $space-xl !important;
}
.u-mg-inline-xxl {
  margin-inline: $space-xxl !important;
}

.u-mg-block-xxs {
  margin-block: $space-xxs !important;
}
.u-mg-block-xs {
  margin-block: $space-xs !important;
}
.u-mg-block-s {
  margin-block: $space-s !important;
}
.u-mg-block-m {
  margin-block: $space-m !important;
}
.u-mg-block-l {
  margin-block: $space-l !important;
}
.u-mg-block-xl {
  margin-block: $space-xl !important;
}
.u-mg-block-xxl {
  margin-block: $space-xxl !important;
}

.blackpearl {
  color: $blackpearl !important;
}
.woodsmoke {
  color: $woodsmoke !important;
}
.shark {
  color: $shark !important;
}
.abbey {
  color: $abbey !important;
}
.raven {
  color: $raven !important;
}
.oslo {
  color: $oslo !important;
}
.mischka {
  color: $mischka !important;
}
.ghost {
  color: $ghost !important;
}
.iron {
  color: $iron !important;
}
.porcelain {
  color: $porcelain !important;
}
.summer-lighter {
  color: $summer-lighter !important;
}
.summer-light {
  color: $summer-light !important;
}
.summer {
  color: $summer !important;
}
.summer-dark {
  color: $summer-dark !important;
}
.summer-darker {
  color: $summer-darker !important;
}
.shamrock-lighter {
  color: $shamrock-lighter !important;
}
.shamrock-light {
  color: $shamrock-light !important;
}
.shamrock {
  color: $shamrock !important;
}
.shamrock-dark {
  color: $shamrock-dark !important;
}
.shamrock-darker {
  color: $shamrock-darker !important;
}
.tulip-lighter {
  color: $tulip-lighter !important;
}
.tulip-light {
  color: $tulip-light !important;
}
.tulip {
  color: $tulip !important;
}
.tulip-dark {
  color: $tulip-dark !important;
}
.tulip-darker {
  color: $tulip-darker !important;
}
.flame-lighter {
  color: $flame-lighter !important;
}
.flame-light {
  color: $flame-light !important;
}
.flame {
  color: $flame !important;
}
.flame-dark {
  color: $flame-dark !important;
}
.flame-darker {
  color: $flame-darker !important;
}

// bg colors

.blackpearl-bg {
  background-color: $blackpearl !important;
}
.woodsmoke-bg {
  background-color: $woodsmoke !important;
}
.shark-bg {
  background-color: $shark !important;
}
.abbey-bg {
  background-color: $abbey !important;
}
.raven-bg {
  background-color: $raven !important;
}
.oslo-bg {
  background-color: $oslo !important;
}
.mischka-bg {
  background-color: $mischka !important;
}
.ghost-bg {
  background-color: $ghost !important;
}
.iron-bg {
  background-color: $iron !important;
}
.porcelain-bg {
  background-color: $porcelain !important;
}
.summer-lighter-bg {
  background-color: $summer-lighter !important;
}
.summer-light-bg {
  background-color: $summer-light !important;
}
.summer-bg {
  background-color: $summer !important;
}
.summer-dark-bg {
  background-color: $summer-dark !important;
}
.summer-darker-bg {
  background-color: $summer-darker !important;
}
.shamrock-lighter-bg {
  background-color: $shamrock-lighter !important;
}
.shamrock-light-bg {
  background-color: $shamrock-light !important;
}
.shamrock-bg {
  background-color: $shamrock !important;
}
.shamrock-dark-bg {
  background-color: $shamrock-dark !important;
}
.shamrock-darker-bg {
  background-color: $shamrock-darker !important;
}
.tulip-lighter-bg {
  background-color: $tulip-lighter !important;
}
.tulip-light-bg {
  background-color: $tulip-light !important;
}
.tulip-bg {
  background-color: $tulip !important;
}
.tulip-dark-bg {
  background-color: $tulip-dark !important;
}
.tulip-darker-bg {
  background-color: $tulip-darker !important;
}
.flame-lighter-bg {
  background-color: $flame-lighter !important;
}
.flame-light-bg {
  background-color: $flame-light !important;
}
.flame-bg {
  background-color: $flame !important;
}
.flame-dark-bg {
  background-color: $flame-dark !important;
}
.flame-darker-bg {
  background-color: $flame-darker !important;
}
