// themify mixin taken from https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
@mixin moder($modes: $modes) {
  @each $mode, $map in $modes {
    .#{$mode} & {
      $mode-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($modes, $mode), "#{$key}");
        $mode-map: map-merge(
          $mode-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $mode-map: null !global;
    }
  }
}

// Min-width breakpoints
@mixin min-width($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Max-width breakpoints
@mixin max-width($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin caret-icon($deg, $x, $y, $color) {
  width: 8px;
  height: 8px;
  border-right: 1px solid $color;
  border-bottom: 1px solid $color;
  transform: rotate($deg) translate($x, $y);
}
