// themify mixin taken from https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

// Used to prevent text selection on an element
@mixin prevent-user-select {
  user-select: none;
}

// caret right
@mixin caret-right($crop, $main, $before) {
  content: "";
    cursor: default;
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    z-index: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  @if $before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $main;
  } @else {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $crop;


  }

}

// Min-width breakpoints
@mixin min-width($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Max-width breakpoints
@mixin max-width($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
